<ion-content>

  <div class="quick">


    <!-- No preffered -->

    <ion-item lines="none" (click)="choosePlatAction('noPref')">
      <ion-grid>
        <ion-row class="ion-align-items-center">

          <ion-col size="4">
            <ion-button color="light" fill="clear">
             <ion-icon name="ban-outline" style="zoom:2.0;"></ion-icon>
            </ion-button>
          </ion-col>

          <ion-col size="8">
            <ion-label>
              <h4>No preference</h4>
            </ion-label>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-item>

     <!-- Preferred platform -->

     <ion-item lines="none" (click)="choosePlatAction('Pref')">
      <ion-grid>
        <ion-row class="ion-align-items-center">

          <ion-col size="4">
            <ion-button color="light" fill="clear">
              <img src="../../../assets/witsLogo.png" style="height: 97%;">
            </ion-button>
          </ion-col>

          <ion-col size="8">
            <ion-label>
              <h4>Wits Stabus</h4>
            </ion-label>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-item>
  </div>

  <div class="all">

    <h2>All Platforms</h2>

    <ion-searchbar></ion-searchbar>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card (click)="choosePlatAction('Wits')">
            <img src="../../../assets/witsStabus.png" />
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <img src="../../../assets/newPlatformComing.png" />
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <img src="../../../assets/newPlatformComing.png" />
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <img src="../../../assets/newPlatformComing.png" />
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
